<h1>Party #<%= @party.id %></h1>

<% if @party.paidyet == 1 %>
<h2>This party's bill has been PAID click <%= link_to "here", user_path(current_user) %> to go back to the home screen.</h2>
<% end %>

<h3>Table of <%= @party.guest_count %></h3>

<%= form_for @party do |f| %>
  <%= f.label :guest_count  %>
  <%= f.text_field :guest_count %>
  <%= f.label "Payment Processed"%>
  <%= f.radio_button :paidyet, 1 %>
  <%= f.submit %>
<% end %>
<%= button_to "Delete Party", party_path(@party), method: :delete %>


<%= link_to "Back to Parties", user_path(current_user) %>

<h5>Add Orders Here</h5>
<%= form_for @order, url: party_orders_path(@party.id) do |f|%>
  <%= f.collection_select :food_id, Food.all, :id, :name, include_blank: true %>
  <input type="hidden" name="order[party_id]" value="<%= @party.id %>">
  <%= f.submit %>
<% end %>


<h5>List Orders Here</h5>
<ul>
    <% @party.orders.each do |order| %>
  <li>
    <%= order.food.name %><%= button_to "Delete", party_order_path(order.party_id, order), method: :delete %>
  </li>
  <% end %>
</ul>

<h3>Subtotal: $<%= @party.checkout %></h3>
<h3>Tax: $<%=@party.taxer %></h3>
<h3>Total: $<%= @party.totaller%></h3>
<p>Suggested Gratuities: 15% $ <%= number_with_precision(@party.tipper(15), precision: 2) %>
  18% $<%= number_with_precision(@party.tipper(18), precision: 2)  %>
  20% $<%= number_with_precision(@party.tipper(20), precision: 2)  %></p>
