<h1>Log-In to RESTaurant</h1>

<%= form_tag sessions_path do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %><br>
  <%= submit_tag "Log In" %>
<% end %>

<div class="party-content">
  <h3>Hello!</h3>
  <p>Testing out my page? Try username 'admin1' and password 'admin1'</p>
</div>

<div class="error">
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="error"> <%= error %> </p>
  <% end %>
<% end %>
</div>
