<h2>Add a User</h2>

<%= form_for @user do |f| %>
  <%= f.label :username  %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :permission %>
  <input min="0" max="2" type="number" value="1" name="user[permission]" id="party_table_num">
  <%= f.submit %>
<% end %>

<div class="error">
<% if flash[:error] %>
  <% flash[:error].each do |error| %>
    <p class="error"> <%= error %> </p>
  <% end %>
<% end %>
</div>
