<div id="log-out">
  <%= button_to "Log-Out", sessions_path, method: :delete %>
</div>

<h1>Hello <%= current_user.username.capitalize %> </h1>

<% if current_user.permission > 0 %>
  <div class="parties-container">
    <h2>Your Tables</h2>

    <% if @currentparties.length == 0 && @currentorders.length > 0 %>
      <p>All your customers have paid, but you are waiting on the kitchen</p>
    <% elsif @currentparties.length == 0 %>
      <p>You do not currently have any unpaid customers</p>
    <% end %>

    <div class="row">
      <% @currentparties.each do |party| %>
        <div class="col-md-4">
          <%= link_to edit_party_path(party) do %>
          <div class="party-content">
            <h4>Table #<%=party.table_num %></h4>
            <h5><%= party.guest_count%> guests</h5>
            <h5>Receipt #<%= party.id %></h5>
          </div>
          <% end %> <!-- END LINK -->
        </div> <!-- END COLUMN-->
      <% end %> <!-- END EACH -->
    </div> <!-- END ROW -->
      <nav class="nav-div">
        <%= link_to "+ New Party", new_party_path, class: "nav-link" %>
      </nav>
  </div> <!-- END PARTIES-CONTAINER -->
<% end %>


<div class="party-content">
  <h2>Orders Being Prep'd</h2>
    <nav>
      <% if current_user.permission != 1 %>
      <%= link_to "Kitchen Menu", party_orders_path(current_user) %>
      <% end %>
    </nav>
  <ul>
  <%  @notdone.each do |order| %>
    <li>
       <strong> Table #<%=order.party.table_num %>, <%= order.food.name  %></strong><br>
       Server: <%= order.party.user.username.capitalize  %><br>
       Notes: <%= order.notes %><br>
       Time Elapsed: <%= order.time_difference.round %> minutes
    </li>
    <hr>
  <% end %>
  </ul>
</div>


<% if current_user.permission > 1 %>
  <div class="party-content">
    <h2>Administration</h2>
    <h3>All Unpaid Parties in the Restaurant</h3>
    <div class="row">
      <% @parties.all.each do |party| %>
      <div class="col-md-4">
        <%= link_to edit_party_path(party) do%>
        <div class="party-content">
        Party of <%= party.guest_count %> @ Table <%= party.table_num %>
        <br> Receipt #<%= party.id %><br> Server: <%= party.user.username.capitalize %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <h3>Menu Management</h3>
    <nav>
      <%= link_to "View Menu", foods_path %><br>
      <%= link_to "Add Menu Item", new_food_path %>
    </nav>

    <h3>Employee Management</h3>
    <nav>
      <%= link_to "Add an Employee", new_user_path %><br>
      <%= link_to "Employee Roster", users_path %><br>
    </nav>
  </div>
<% end %>
